body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative; /* Permite posicionar elementos hijos */
    background: url('imagenes/search.jpg') no-repeat center center fixed;
    background-size: cover;
}


.busca {
    max-width: 800px;
    margin: auto;
    background: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.busca h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px; /* Espacio debajo del h1 */
}

.busca table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.busca th, .busca td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.busca th {
    background-color: #2377ed;
    color: white;
}

.busca tr:hover {
    background-color: #f1f1f1;
}

.busca input[type="submit"] {
    background-color: #1014d8;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.busca input[type="submit"]:hover {
    background-color: #1277f1;
}

.busca a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #000000;
}

.busca a:hover {
    text-decoration: underline;
}